.Orange
{ background-color: rgb(230, 11, 211);}
p {
    color: rgb(240, 178, 178)}

    .miring { font-style: italic}

    .tengah {text-align: center}

    .hitam
    {background-color: black;}
    .birumuda
    {background-color: skyblue;}
    
    .latar
    {background-image: url(backdropnya.jpg);
